<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.styles.css' %}">
	<title>Sign up</title>
</head>

<body>
	<div class="auth__wrapper">
		<div class="auth__left" style="background-image: url('{% static 'images/password.svg' %}');">
			<nav>
				<div class="navbar__wrapper auth__nav">
					<div class="navbar-container">
						<a href="{% url 'home' %}">
							<h1>Michael</h1>
						</a>
					</div>
				</div>
			</nav>
		</div>
		<div class="auth__right">
			<div class="form__wrapper">
				<form method="POST" id="signupForm">
					<div>
						<h1>Create your account!</h1>
						<p>Please enter your details</p>
					</div>
					<div class="input-wrapper">
						{% csrf_token %}
						<div class="username-container">
							<label for="{{form.username.id_for_label}}">Username</label>
							{{form.username}}
							{% if  form.username.errors %}
								<span id="username-err">{{form.username.errors}}</span>
							{% endif %}
						</div>
						<div class="email-container">
							<label for="{{form.email.id_for_label}}">Email</label>
							{{form.email}}
							{% if  form.email.errors %}
								<span id="email-err">{{form.email.errors}}</span>
							{% endif %}
						</div>
						<div class="name-container">
							<label for="{{form.name.id_for_label}}">Name</label>
							{{form.name}}
							{% if form.name.errors %}
								<span id="name-err">{{form.name.errors}}</span>
							{% endif %}
						</div>
						<div class="password-container">
							<label for="{{form.password1.id_for_label}}">Password</label>
							{{form.password1}}
							{% if form.password1.errors %}
								<span id="password-err">{{form.password1.errors}}</span>
							{% endif %}
						</div>
						<div class="password-container">
							<label for="{{form.password2.id_for_label}}">Confirm Password</label>
							{{form.password2}}
							{% if form.password2.errors %}
								<span id="password-err">{{form.password2.errors}}</span>
							{% endif %}
						</div>
					</div>
					<div class="login-btn-wrapper">
						<button class="signup-btn auth-btn" id="signUpBtn" type="submit">
							Sign up
						</button>
					</div>
					<div class="alternative">
						Already have an account?
						<span><a href="{% url 'login' %}">Login</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% comment %} {% load static %}
	<script src="{% static 'js/signup.js' %}" type="text/javascript" defer></script> {% endcomment %}
</body>

</html>